@model Restaurant.Entity.Entity.ContactMail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("PartialContactConstantValue", "Iletisim");}
<section class="inner-section contact-part">
    <div class="container">
        @{Html.RenderAction("PartialContact", "Iletisim");}
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d762.1664843430862!2d28.92040148813249!3d40.17199099870582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDEwJzE5LjIiTiAyOMKwNTUnMTUuNCJF!5e0!3m2!1str!2str!4v1628123053485!5m2!1str!2str"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="100%"
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="contact-form" action="/iletisim" method="post">
                    <h4>Bizimle iletişime geçebilirsiniz</h4>
                    <div class="form-group">
                        @if (ViewBag.Mesaj != null)
                        {
                            <div class="form-group">
                                <p class="alert alert-info">@ViewBag.Mesaj</p>
                            </div>
                        }
                        @if (ViewBag.Hata != null)
                        {
                            <div class="form-group">
                                <p class="alert alert-danger">@ViewBag.Hata</p>
                            </div>
                        }
                        <div class="form-input-group">
                            <input class="form-control" type="text" required
                                   placeholder="Adınız Soyadınız" name="NameSurname"><i class="icofont-user-alt-3"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" required
                                   placeholder="Email Adresiniz" name="Email"><i class="icofont-email"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="tel" required
                                   placeholder="Telefon Giriniz" name="Phone" maxlength="11"><i class="icofont-phone"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" required
                                   placeholder="Konu Giriniz" name="Subject"><i class="icofont-book-mark"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <textarea class="form-control" required
                                      placeholder="Mesajınızı Giriniz" name="Messages"></textarea><i class="icofont-paragraph"></i>
                        </div>
                    </div><button type="submit" class="form-btn-group">
                        <i class="fas fa-envelope"></i><span>
                            İletişime Geç
                        </span>
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>
