@model Restaurant.Entity.Entity.Slider

@{
    ViewBag.Title = "AddSlider";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h3>Yeni Slider Ekle</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <img src="~/Areas/Admin/Context/mekasoftware/180x180-M.png" alt="Kadir ARİ" width="50" />
                </div>
            </div>
        </div>
        @if (ViewBag.Mesaj != null)
        {
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Hata Mesajı</h4>
                    </div>
                </div>
                <div>
                    <p>@ViewBag.Mesaj</p>
                </div>
            </div>
        }
        <div class="pd-20 card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h4 class="text-blue h4">Yeni Slider Ekle</h4>
                </div>
            </div>
            <!-- Buraya Form Kısmını Ekle -->
            @using (Html.BeginForm("AddSlider", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Başlık</label>
                <div class="col-md-12">
                    <input type="text" name="Title" class="form-control" required placeholder="Lütfen Başlık Giriniz" maxlength="110" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Açıklama</label>
                <div class="col-md-12">
                    <textarea class="form-control" name="Description" placeholder="Lütfen Açıklama Giriniz"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Resim</label>
                <div class="col-md-12">
                    <input type="file" name="File" class="form-control" />
                    <p style="color:darkred;">Resim Boyutu(1920x1200)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Resim Alt</label>
                <div class="col-md-12">
                    <input type="text" name="FileAlt" class="form-control" required placeholder="Alt Etiketi Giriniz" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-12">Yazı Sol</label>
                        <div class="col-md-12">
                            <div class="checkbox">
                                <select class="custom-select2 form-control" name="Left" style="width: 100%; height: 38px;">
                                    <optgroup label="Lütfen Seçim Yapınız">
                                        <option value="False">Pasif</option>
                                        <option value="True">Aktif</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-12">Yazı Orta</label>
                        <div class="col-md-12">
                            <div class="checkbox">
                                <select class="custom-select2 form-control" name="Center" style="width: 100%; height: 38px;">
                                    <optgroup label="Lütfen Seçim Yapınız">
                                        <option value="False">Pasif</option>
                                        <option value="True">Aktif</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-12">Yazı Sağ</label>
                        <div class="col-md-12">
                            <div class="checkbox">
                                <select class="custom-select2 form-control" name="Right" style="width: 100%; height: 38px;">
                                    <optgroup label="Lütfen Seçim Yapınız">
                                        <option value="False">Pasif</option>
                                        <option value="True">Aktif</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Sayfa Url</label>
                <div class="col-md-12">
                    <input type="text" name="PageUrl" class="form-control" placeholder="Anasayfa ='/', Hakkımızda='hakkimizda' https://doybox.com.tr/ son / sonrasındaki url alıp yazınız..." maxlength="170" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ürün Url</label>
                <div class="col-md-12">
                    <input type="text" name="ProductUrl" class="form-control" placeholder="Mercimek Çorbası ='mercimek-corbasi', Kuzu Tandır='kuzu-tandir' https://doybox.com.tr/urunler/ son /urunler/ sonrasındaki url alıp yazınız..." maxlength="170" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Lezzet Url</label>
                <div class="col-md-12">
                    <input type="text" name="LezzetUrl" class="form-control" placeholder="Çorba ='corba', Tatlı='tatli' https://doybox.com.tr/urunler/ son /urunler/ sonrasındaki url alıp yazınız..." maxlength="170" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i> Yeni Slider Ekle</button>
                        <a href="/Admin/Dashboard/Slider" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                    </div>
                </div>
            </div>
        </div>
            }
            <!--Form bitiş-->
        </div>
    </div>
</div>
