@model Restaurant.Entity.Entity.ConstantValue
<div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
    <div class="promo-img"><a href="@Model.url"><img src="~/File/ConstantValuess/@Model.ImageUrl" alt="@Model.ImageAlt"></a></div>
</div>